/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

@font-face {
    font-family: 'Bw Modelica';
    src: url('../fonts/BwModelica-ExtraBold.eot');
    src: url('../fonts/BwModelica-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BwModelica-ExtraBold.woff2') format('woff2'),
        url('../fonts/BwModelica-ExtraBold.woff') format('woff'),
        url('../fonts/BwModelica-ExtraBold.ttf') format('truetype'),
        url('../fonts/BwModelica-ExtraBold.svg#BwModelica-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('../fonts/BwModelica-Medium.eot');
    src: url('../fonts/BwModelica-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BwModelica-Medium.woff2') format('woff2'),
        url('../fonts/BwModelica-Medium.woff') format('woff'),
        url('../fonts/BwModelica-Medium.ttf') format('truetype'),
        url('../fonts/BwModelica-Medium.svg#BwModelica-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

body {
    background: #000;
    margin: 0;
    font-family: 'Bw Modelica';
    font-weight: 800;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-content-zooming: none;
    -webkit-text-size-adjust: none;
    -moz-font-feature-settings:"kern=1";
    -moz-font-feature-settings:"kern";
    -ms-font-feature-settings:"kern";
    -webkit-font-feature-settings:"kern";
    font-feature-settings:"kern";
}

h1 {
    color: #575757;
    font-size: 10vw;
}
h2 {
    opacity: 1;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
h2.date {
    bottom: 0;
    position: absolute;
    margin: 0 0 60px 0;
    width: 100vw;
    z-index: 999;
}
h2.download {
    top: 0;
    position: fixed;
    width: 100vw;
    z-index: 999;
    margin: 60px 0;
}

a {
    text-decoration: none;
    text-align: center;
}


.header {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.header-logo {
    height: 100vh;
    position: relative;
    z-index: 999;
    opacity: 1;
}
.header-hide {
    height: auto;
    width: auto;
    position: absolute;
    z-index: 999;
    opacity: 1;
    top: 50%;
    left: 50%;
}
.header-hide:hover {
    opacity: 0;
    transition: .25s ease-in-out 0s;
    webkit-transition: .25s ease-in-out 0s;
}

.wordmark {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .25s ease-in-out 0s;
    webkit-transition: .25s ease-in-out 0s;
    z-index: 999;
}

.wordmark p {

    font-size: 4vw;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    padding-top: 6vh;
    transition: .25s ease-in-out 0s;
    webkit-transition: .25s ease-in-out 0s;
}

.logo {
    border-radius: 50%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
}

.logo path {
    fill: none;
    stroke-width: 1px;
}

.download {
    color: #FFF;
    font-weight: 500;
    font-style: normal;
    top: 63px;
    z-index: 1001;
    height: auto;
    position: absolute;
    margin: 0;
    width: 100vw;
}




/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
        /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
